<section class="service-area bg-color1 p-t-100 p-b-100" id="benefits">
  <div class="container">
    <div class="service-wrapper">
      <div class="row m-b-40 justify-content-center">
        <div class="section-title" data-aos="fade-up">
          <h2 class="big-font2 text-center">Benefits</h2>
          <p>Why does online reputation managment matter?</p>
        </div>
      </div>
      <div class="row">
        {% for service in site.data.services %}
        <div class="col-md-4">
          <div class="service-box" data-aos="fade-up">
            <div class="service-logo"><img src="{{service.image}}" alt="{{service.title}}" /></div>
            <div class="service-content">
              <h4 class="heading-4">{{service.title}}</h4>
              <p>{{service.description}}</p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>