<section class="apps-screenshot-area bg-color1 p-t-100 p-b-100" id="features">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="section-title m-b-30">
          <h2 class="big-font2">FAQ</h2>
          <p>Learn a little bit more about Dovera Insights and customer reputation from these frequently asked
            questions.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h4>My free trial ended, now what?</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p>At the end of your 14-day free trial you will be able to select which plan best fits your needs.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h4>What is the refund policy?</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p>You may cancel your subscription at any time, however, it will be valid until the end of your current subscription.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h4>What happens to my data if I cancel?</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p>If you cancel your subscription all third party reviews will remain and you will be able to export your review data.</p>
      </div>
    </div>
  </div>
</section>