<section class="apps-screenshot-area bg-color1 p-t-100 p-b-100" id="features">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="section-title m-b-60">
          <h2 class="big-font2">FAQ</h2>
          <p>Learn a little bit more about Dovera Insights and customer reputation from these frequently asked
            questions.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <h3>What is the refund policy?</h3>
    </div>
    <div class="row">
      <p>In the first three months if you feel we are not providing the value you were looking for, we will give a complete refund minus any text messaging fees. After the first three months cancel any time and receive a prorated refund for all unused days.</p>
    </div>
  </div>
</section>