<section class="apps-screenshot-area bg-color4 p-t-100 p-b-100" id="features">
  <div class="container">
    <div class="apps-screenshot-wrapper">
      <div class="row">
        <div class="col-md-5">
          <div class="screenshot-content m-l-30">
            <div class="section-title m-b-40" data-aos="fade-up">
              <h2 class="big-font2">Features</h2>
              <p>
                Build a comprehensive picture of customer perception of your brand with automation, testing, and direct feedback. Create value for existing and potential customers with real-time insights.
              </p>
            </div>
            <ul class="screenshot-list m-b-40 list-inline">
              <li>Company sentiment at a glace</li>
              <li>Automated customer feedback</li>
              <li>Notifications when customers leave feedback</li>
              <li>A/B testing to find the right message</li>
            </ul>
            <!-- <div class="apps-download-link">
              <p class="weight-medium">Dorem ipsum dolor sit amet, consete radipscing elitr sed diam</p>
            </div> -->
          </div>
        </div>
        <div class="col-md-7">
          <div class="swiper-container">
            <div class="swiper-wrapper">
              <!-- Slides -->
              <div class="swiper-slide" style="border-radius: 45px;"><img src="{{site.baseurl}}/assets/images/dovera-review.png"
                  alt="Dovera Review Mobile View" /></div>
              <div class="swiper-slide" style="border-radius: 45px;"><img src="{{site.baseurl}}/assets/images/dovera-notification.png"
                  alt="Email Notification" /></div>
              <div class="swiper-slide" style="border-radius: 45px;"><img src="{{site.baseurl}}/assets/images/dovera-dashboard.png"
                  alt="Dovera Dashboard Mobile View" /></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>