 {% if page.url == "/" %}
 <!-- Navigation For Home Page -->
<nav class="themeix-navbar">
    <ul class="slimmenu main-menu">
        <li><a href="{{site.url}}">Home</a></li>
        <li><a href="#features" class="js-scroll-trigger">Features</a></li>
        <li><a href="#pricing" class="js-scroll-trigger">Pricing</a></li>
        <li><a href="/pages/blog">Blog</a></li>		
        <li><a href="/pages/contact" class="js-scroll-trigger">Contact</a></li>
        <li><a href="{{site.app_url}}/signin" class="js-scroll-trigger">Sign In</a></li>
    </ul>
</nav>
 {% else %}
  <!-- Navigation For Inner Pages -->
<nav class="themeix-navbar">
    <ul class="slimmenu main-menu">
        <li><a href="{{site.url}}">Home</a></li>
        <li><a href="/pages/blog">Blog</a></li>		
        <li><a href="/pages/contact" class="js-scroll-trigger">Contact</a></li>
        <li><a href="{{site.app_url}}/signin" class="js-scroll-trigger">Sign In</a></li>
    </ul>
</nav>
 {% endif %}
 