<!-- ==================== Start Newsletter Area  ========================= -->
<section class="newsletter-area bg-color1 p-b-130" id="demo">
<div class="container">
    <div class="newsletter-wrapper">
        <div class="row">
            <div class="col-md-6">
            <div class="section-title m-b-60">
                <h2 class="big-font2">Schedule a Live Demo</h2>
                <p>Get in touch with us to discover how Dovera Insights can improve your customer relationships. Fill out the form below to schedule a live demo.</p>
            </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-7">
            <div class="newsletter-img float-right"><img src="{{site.baseurl}}/assets/images/newsletter-img.svg" alt="newsletter image" /></div>
            </div>
            <div class="col-md-6 col-lg-5">
            <div class="newsletter-form" data-aos="fade-up-left">
                <div class="inner-title m-b-30">
                    <h3 class="heading-3">Schedule Demo</h3>
                </div>
                <form action="{{site.form-keep}}"
                    accept-charset="UTF-8"
                    enctype="multipart/form-data"
                    method="POST" name="mc-embedded-request-demo-form" class="wj-contact-form validate" novalidate>
                    <input type="hidden" name="utf8" value="✓">
                    <div class="form-group">
                        <input type="email" name="email" class="form-control" placeholder="Email Address" required>
                        <div id='request-demo-email-required-error' style='color: red; display: none'>
                          Email is required
                        </div>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" name='questions' placeholder="Any specific questions?" rows="5"></textarea>
                    </div>
                    <div class="form-group m-0">
                        <button name="request-demo-send" class=" btn-primary btn-block" type="submit">Send</button>
                    </div>
                    <div id='request-demo-success' style='color: green; display: none'>
                      We will be in touch shortly!
                    </div>
                    <div id='request-demo-failed' style='color: rgb(241, 103, 103); display: none'>
                      Unexpected error occured. Please send an email to hello@doverainsights.com
                    </div>
                </form>
            </div>
            </div>
        </div>
    </div>
</div>
</section>
<!-- ==================== End Newsletter Area  ========================= -->