<!-- ==================== Start Newsletter Area  ========================= -->
<section class="newsletter-area bg-color1 p-b-130" id="demo">
<div class="container">
    <div class="newsletter-wrapper">
        <div class="row">
            <div class="col-md-6">
            <div class="section-title m-b-60">
                <h2 class="big-font2">Schedule a Live Demo</h2>
                <p>Get in touch with us to discover how Dovera Insights can improve your customer relationships. Fill out the form below to schedule a live demo.</p>
            </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-7">
            <div class="newsletter-img float-right"><img src="{{site.baseurl}}/assets/images/newsletter-img.svg" alt="newsletter image" /></div>
            </div>
            <div class="col-md-6 col-lg-5">
            <div class="newsletter-form" data-aos="fade-up-left">
                <div class="inner-title m-b-30">
                    <h3 class="heading-3">Schedule Demo</h3>
                </div>
                <form action="{{site.mailchimp-list}}" method="post" name="mc-embedded-subscribe-form" class="wj-contact-form validate" target="_blank" novalidate>
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Email Address">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" placeholder="Any specific questions?" rows="5"></textarea>
                    </div>
                    <div class="form-group m-0">
                        <button class=" btn-primary btn-block" type="submit">Send</button>
                    </div>
                </form>
            </div>
            </div>
        </div>
    </div>
</div>
</section>
<!-- ==================== End Newsletter Area  ========================= -->